In [1]:
import pandas as pd

In [2]:
cells = pd.read_csv('cell_counts.csv', dtype = {'date':str, 'age':int, 'cell_num':float, 'exp_descr':str},
                   parse_dates = ['date'])
cells.tail()

         date  age  cell_num exp_descr
79 2017-04-10   15       1.0      full
80 2017-04-10   15       2.0      full
81 2017-04-10   15       3.0      full
82 2017-04-10   15       4.0      full
83 2017-04-10   15       5.0      full

In [3]:
cells.loc[84] = ('2017-04-11', 15, 1.1, 'full')
cells.loc[85] = ('2017-04-11', 15, 1.2, 'full')
cells.loc[86] = ('2017-04-11', 15, 1.3, 'full')
cells.loc[87] = ('2017-04-11', 15, 2.1, 'partial')
cells.loc[88] = ('2017-04-11', 15, 2.2, 'full')
cells.loc[89] = ('2017-04-11', 15, 2.3, 'full')

In [4]:
cells.tail()

          date  age  cell_num exp_descr
85  2017-04-11   15       1.2      full
86  2017-04-11   15       1.3      full
87  2017-04-11   15       2.1   partial
88  2017-04-11   15       2.2      full
89  2017-04-11   15       2.3      full

In [5]:
cells.to_csv('cell_counts.csv', index = False, date_format='%Y%m%d')

In [6]:
cells['exp_descr'].value_counts()

full          69
max            8
partial        7
inh            3
borderline     3
Name: exp_descr, dtype: int64

In [7]:
cells.groupby('age')['exp_descr'].value_counts()

age  exp_descr
13   full           1
14   full           3
     borderline     1
     inh            1
15   full          42
     max            6
     partial        4
     borderline     1
     inh            1
16   full          18
     partial        3
     max            1
17   full           2
     max            1
18   inh            1
20   full           2
21   full           1
22   borderline     1
Name: exp_descr, dtype: int64

In [8]:
p15_p16 = cells.ix[((cells['age'] == 15) | (cells['age'] == 16)) & (cells['exp_descr'] == 'full')]
len(p15_p16)

60

In [9]:
p15_p16.to_csv('p15_p16_cells.csv', index = False, date_format = '%Y%m%d')