In [1]:
import pandas as pd

In [2]:
cells = pd.read_csv('cell_counts.csv', dtype = {'date':str, 'age':int, 'cell_num':int, 'exp_descr':str},
                   parse_dates = ['date'])
cells

         date  age  cell_num   exp_descr
0  2016-08-10   14         1        full
1  2016-08-11   15         1  borderline
2  2016-08-17   14         1  borderline
3  2016-08-18   15         1        full
4  2016-09-05   15         1        full
5  2016-09-06   16         1        full
6  2016-09-28   13         1        full
7  2016-10-19   15         1        full
8  2016-10-26   15         1        full
9  2016-10-26   15         2        full
10 2016-10-26   15         3        full
11 2016-10-31   20         1        full
12 2016-10-31   20         2        full
13 2016-11-02   15         1        full
14 2016-11-02   15         2        full
15 2016-11-08   15         1         max
16 2016-11-15   14         1         inh
17 2016-11-15   14         2        full
18 2016-11-17   16         2         max
19 2016-12-13   15         1         max
20 2016-12-20   15         1         max
21 2016-12-21   15         1         max
22 2016-12-22   16         2        full
23 2017-01-03   21         1        full
24 2017-01-04   22         1  borderline
25 2017-02-01   15         1         inh
26 2017-02-01   15         2        full
27 2017-02-07   15         1        full
28 2017-02-07   15         3        full
29 2017-02-10   17         1        full
30 2016-10-14   17         1         max
31 2016-10-03   14         1        full
32 2016-10-04   15         1        full
33 2016-10-06   15         1        full
34 2016-10-10   18         1         inh
35 2016-02-23   16         1        full
36 2016-02-23   16         2        full
37 2016-02-23   16         3     partial
38 2016-02-28   15         1        full
39 2016-02-28   15         2         max
40 2016-03-01   15         1        full
41 2016-03-02   16         1     partial
42 2016-03-03   17         1        full

In [3]:
cells.loc[43] = ('2016-03-09', 15, 1, 'full')
cells.loc[44] = ('2016-03-09', 15, 2, 'full')
cells.loc[45] = ('2016-03-09', 15, 3, 'max')

In [4]:
cells.tail()

                   date  age  cell_num exp_descr
41  2016-03-02 00:00:00   16         1   partial
42  2016-03-03 00:00:00   17         1      full
43           2016-03-09   15         1      full
44           2016-03-09   15         2      full
45           2016-03-09   15         3       max

In [5]:
cells.to_csv('cell_counts.csv', index = False)

In [6]:
cells['exp_descr'].value_counts()

full          30
max            8
inh            3
borderline     3
partial        2
Name: exp_descr, dtype: int64