In [1]:
import pandas as pd

In [2]:
cells = pd.read_csv('cell_counts.csv', dtype = {'date':str, 'age':int, 'cell_num':float, 'exp_descr':str},
                   parse_dates = ['date'])
cells.tail()

         date  age  cell_num exp_descr
69 2017-04-03   15       3.0      full
70 2017-04-04   15       1.0   partial
71 2017-04-04   15       2.0      full
72 2017-04-04   15       3.0      full
73 2017-04-04   15       4.0      full

In [3]:
cells.loc[74] = ('2017-04-05', 16, 1, 'full')
cells.loc[75] = ('2017-04-05', 16, 2, 'full')

In [4]:
cells.tail()

                   date  age  cell_num exp_descr
71  2017-04-04 00:00:00   15       2.0      full
72  2017-04-04 00:00:00   15       3.0      full
73  2017-04-04 00:00:00   15       4.0      full
74           2017-04-05   16       1.0      full
75           2017-04-05   16       2.0      full

In [5]:
cells.to_csv('cell_counts.csv', index = False, date_format='%Y%m%d')

In [6]:
cells['exp_descr'].value_counts()

full          57
max            8
partial        5
borderline     3
inh            3
Name: exp_descr, dtype: int64

In [7]:
cells.groupby('age')['exp_descr'].value_counts()

age  exp_descr
13   full           1
14   full           3
     borderline     1
     inh            1
15   full          30
     max            6
     partial        2
     borderline     1
     inh            1
16   full          18
     partial        3
     max            1
17   full           2
     max            1
18   inh            1
20   full           2
21   full           1
22   borderline     1
Name: exp_descr, dtype: int64

In [8]:
p15_p16 = cells.ix[((cells['age'] == 15) | (cells['age'] == 16)) & (cells['exp_descr'] == 'full')]
len(p15_p16)

48

In [9]:
p15_p16.to_csv('p15_p16_cells.csv', index = False, date_format = '%Y%m%d')