In [1]:
import pandas as pd

In [2]:
cells = pd.read_csv('cell_counts.csv', dtype = {'date':str, 'age':int, 'cell_num':float, 'exp_descr':str},
                   parse_dates = ['date'])
cells

         date  age  cell_num   exp_descr
0  2016-08-10   14       1.0        full
1  2016-08-11   15       1.0  borderline
2  2016-08-17   14       1.0  borderline
3  2016-08-18   15       1.0        full
4  2016-09-05   15       1.0        full
5  2016-09-06   16       1.0        full
6  2016-09-28   13       1.0        full
7  2016-10-19   15       1.0        full
8  2016-10-26   15       1.0        full
9  2016-10-26   15       2.0        full
10 2016-10-26   15       3.0        full
11 2016-10-31   20       1.0        full
12 2016-10-31   20       2.0        full
13 2016-11-02   15       1.0        full
14 2016-11-02   15       2.0        full
15 2016-11-08   15       1.0         max
16 2016-11-15   14       1.0         inh
17 2016-11-15   14       2.0        full
18 2016-11-17   16       2.0         max
19 2016-12-13   15       1.0         max
20 2016-12-20   15       1.0         max
21 2016-12-21   15       1.0         max
22 2016-12-22   16       2.0        full
23 2017-01-03   21       1.0        full
24 2017-01-04   22       1.0  borderline
25 2017-02-01   15       1.0         inh
26 2017-02-01   15       2.0        full
27 2017-02-07   15       1.0        full
28 2017-02-07   15       3.0        full
29 2017-02-10   17       1.0        full
30 2016-10-14   17       1.0         max
31 2016-10-03   14       1.0        full
32 2016-10-04   15       1.0        full
33 2016-10-06   15       1.0        full
34 2016-10-10   18       1.0         inh
35 2017-02-23   16       1.0        full
36 2017-02-23   16       2.0        full
37 2017-02-23   16       3.0     partial
38 2017-02-28   15       1.0        full
39 2017-02-28   15       2.0         max
40 2017-03-01   15       1.0        full
41 2017-03-02   16       1.0     partial
42 2017-03-03   17       1.0        full
43 2017-03-09   15       1.0        full
44 2017-03-09   15       2.0        full
45 2017-03-09   15       3.0         max
46 2017-03-15   16       1.1        full
47 2017-03-15   16       2.1        full
48 2017-03-15   16       2.2        full
49 2017-03-15   16       2.3     partial
50 2017-03-16   15       1.0        full
51 2017-03-16   15       2.0        full
52 2017-03-22   16       1.0        full
53 2017-03-22   16       2.0        full
54 2017-03-23   15       1.0        full
55 2017-03-23   15       2.0        full
56 2017-03-23   15       3.0        full

In [3]:
cells.loc[57] = ('2017-03-24', 16, 1, 'full')
cells.loc[58] = ('2017-03-24', 16, 2, 'full')
cells.loc[59] = ('2017-03-24', 16, 3, 'full')

In [4]:
cells.tail()

                   date  age  cell_num exp_descr
55  2017-03-23 00:00:00   15       2.0      full
56  2017-03-23 00:00:00   15       3.0      full
57           2017-03-24   16       1.0      full
58           2017-03-24   16       2.0      full
59           2017-03-24   16       3.0      full

In [5]:
cells.to_csv('cell_counts.csv', index = False, date_format='%Y%m%d')

In [6]:
cells['exp_descr'].value_counts()

full          43
max            8
inh            3
partial        3
borderline     3
Name: exp_descr, dtype: int64

In [7]:
cells.groupby('age')['exp_descr'].value_counts()

age  exp_descr
13   full           1
14   full           3
     borderline     1
     inh            1
15   full          22
     max            6
     borderline     1
     inh            1
16   full          12
     partial        3
     max            1
17   full           2
     max            1
18   inh            1
20   full           2
21   full           1
22   borderline     1
Name: exp_descr, dtype: int64

In [8]:
p15_p16 = cells.ix[((cells['age'] == 15) | (cells['age'] == 16)) & (cells['exp_descr'] == 'full')]
p15_p16

                   date  age  cell_num exp_descr
3   2016-08-18 00:00:00   15       1.0      full
4   2016-09-05 00:00:00   15       1.0      full
5   2016-09-06 00:00:00   16       1.0      full
7   2016-10-19 00:00:00   15       1.0      full
8   2016-10-26 00:00:00   15       1.0      full
9   2016-10-26 00:00:00   15       2.0      full
10  2016-10-26 00:00:00   15       3.0      full
13  2016-11-02 00:00:00   15       1.0      full
14  2016-11-02 00:00:00   15       2.0      full
22  2016-12-22 00:00:00   16       2.0      full
26  2017-02-01 00:00:00   15       2.0      full
27  2017-02-07 00:00:00   15       1.0      full
28  2017-02-07 00:00:00   15       3.0      full
32  2016-10-04 00:00:00   15       1.0      full
33  2016-10-06 00:00:00   15       1.0      full
35  2017-02-23 00:00:00   16       1.0      full
36  2017-02-23 00:00:00   16       2.0      full
38  2017-02-28 00:00:00   15       1.0      full
40  2017-03-01 00:00:00   15       1.0      full
43  2017-03-09 00:00:00   15       1.0      full
44  2017-03-09 00:00:00   15       2.0      full
46  2017-03-15 00:00:00   16       1.1      full
47  2017-03-15 00:00:00   16       2.1      full
48  2017-03-15 00:00:00   16       2.2      full
50  2017-03-16 00:00:00   15       1.0      full
51  2017-03-16 00:00:00   15       2.0      full
52  2017-03-22 00:00:00   16       1.0      full
53  2017-03-22 00:00:00   16       2.0      full
54  2017-03-23 00:00:00   15       1.0      full
55  2017-03-23 00:00:00   15       2.0      full
56  2017-03-23 00:00:00   15       3.0      full
57           2017-03-24   16       1.0      full
58           2017-03-24   16       2.0      full
59           2017-03-24   16       3.0      full

In [9]:
p15_p16.to_csv('p15_p16_cells.csv', index = False, date_format='%Y%m%d')